body {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#uploadProgress {
    width: 50%;
    margin-bottom: 10px;
}

#imageFeels span {
    display: inline-block;
    height: 80px;
    width: 80px;
}

#analysedImage {
    max-width: 200px;
}

#imageFeels span.anger {
    background-image: url(emoj/emoj_fells_anger.png);
}

#imageFeels span.joy {
    background-image: url(emoj/emoj_fells_joy.png);
}

#imageFeels span.sorrow {
    background-image: url(emoj/emoj_fells_sorrow.png);
}

#imageFeels span.surprise {
    background-image: url(emoj/emoj_fells_surprise.png);
}

#imageFeels span.unknown {
    background-image: url(emoj/emoj_fells_unknown.png);
}